.menuButton {
  height: 100%;
  width: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active + .toggle2 .bars,
.active + .toggle2 #bar5,
.active + .toggle2 #bar4,
.active + .toggle2 #bar6,
.active + .toggle2 {
  transition-duration: var(--transition);
}

.active + .toggle2 .bars {
  position: absolute;
}

.active + .toggle2 #bar5 {
  transform: scaleX(0);
}

.active + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
}

.active + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
}

.active + .toggle2 {
  transform: rotate(180deg);
}

.toggle2 {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition-duration: var(--transition);
}

.bars,
#bar4,
#bar6 {
  width: 100%;
}

.bars {
  height: 4px;
  background-color: var(--font-color);
  border-radius: 3px;
}

#bar5 {
  transition-duration: var(--transition);
}

#checkbox2 {
  display: none;
}

.menuButton:hover {
  background-color: transparent;
}
