.container {
  border-radius: var(--border-radius);

  transition: var(--transition);
  font-weight: bold;
}

.container:hover {
  background-color: var(--focus-color);
}

.container:active {
  scale: 0.98;
}

.active {
  background-color: var(--blue);
  color: var(--negative-color);
  
}

.active:hover {
  opacity: 0.85;
  background-color: var(--blue);
}
