.container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);

  transition: var(--transition);
  font-weight: bold;

  &:hover {
    background-color: var(--focus-color);
  }

  &:active {
    scale: 0.98;
  }
}

.active {
  background-color: var(--blue);
  color: var(--negative-color);
  
  &:hover {
    opacity: 0.85;
    background-color: var(--blue);
  }
}
