@import "../../tableItem.module.scss";

.cont {
  display: flex;
  width: 100%;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.symbol {
  color: var(--second-font-color);
}

.img {
  height: calc(var(--table-item-height) / 1.5);
}

.button {
  z-index: 3000;
}

.custom__button {
  height: 60%!important;
  width: 80%!important;
}
