.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.container {
  width: clamp(250px, 30%, 400px);
  width: 100%;

  height: fit-content;
  max-height: 500px;

  justify-content: space-between;
  @extend .flex;

  .header {
    font-size: var(--h2-size);
    height: 20%;
  }

  .content {
    height: 80%;

    justify-content: space-between;
    position: relative;
    @extend .flex;

    .totalPrice {
      padding: var(--item-padding-top) calc(var(--item-padding-left) / 2);
    }
  }
}
