.flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.input {
  height: 40%;
  @extend .flex;
}

.input .error {
  color: var(--red);
  font-size: calc(var(--font-size) - 2px);
}

.custom__button {
  height: 30px !important;
}
