.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.table {
  @extend .parent;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.loader {
  padding-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
