.overflow::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.item {
  display: grid;
  grid-template-columns:
    minmax(40px, 60px) minmax(40px, 60px) minmax(105px, 1fr) repeat(
      2,
      minmax(105px, 1fr)
    )
    minmax(80px, 100px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--gap);

  overflow-y: scroll;
  @extend .overflow;

  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
  height: var(--table-item-height);

  transition: var(--transition);
}

.item:hover {
  background-color: var(--focus-color);
}

.rowItem {
  cursor: pointer;
  gap: calc(var(--gap) / 2);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  height: 100%;

  overflow: scroll;
  @extend .overflow;
}

.rowItem:nth-child(1),
.rowItem:nth-child(2) {
  justify-content: center;
}

.rowItem:nth-child(3) {
  justify-content: start;
}
