@import "../tableItem.module.scss";

.active {
  width: 100%;
  position: relative;
}

.active {
  position: fixed;
  top: 0;
  width: fit-content;
  width: calc(100% - var(--page-padding-left) * 2);
}

.container {
  z-index: 4000;
  align-items: center;
}

.item {
  border-bottom: 1px solid var(--border-color);
}

.rowItem {
  font-weight: bold;
}

.button {
  height: 100%;
  font-weight: bold;
}

.rowItem svg {
  height: 16px;
}

.item:hover {
  background-color: var(--bg-color);
}
