@import "../tableItem.module.scss";

.active {
  width: 100%;
  position: relative;
}

.active .item {
  position: fixed;
  top: 0;
  width: fit-content;
  width: calc(100% - var(--page-padding-left) * 2);
}

.container {
  z-index: 4000;
  align-items: center;
}

.container .item {
  border-bottom: 1px solid var(--border-color);
}

.container .item .rowItem {
  font-weight: bold;
}

.container .item .rowItem button {
  height: 100%;
  font-weight: bold;
}

.container .item .rowItem svg {
  height: 16px;
}

.container .item:hover {
  background-color: var(--bg-color);
}
