.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25px;
  grid-template-rows: 1fr;
  grid-column-gap: var(--gap);
  grid-row-gap: 0px;
}

.coin {
  height: 100%;
  cursor: pointer;
  padding: var(--item-padding-top) calc(var(--item-padding-left) / 2);

  align-items: center;
  @extend .parent;
  transition: var(--transition);
}

.text {
  display: flex;
  justify-content: flex-end;
}

.image {
  height: 25px;
}

.button {
  display: flex;
  align-items: center;
}

.button svg {
  height: 20px;
  transition: var(--transition);
}

.button svg:hover {
  fill: var(--red);
}

.coin:hover {
  background-color: var(--focus-color);
}
