.container {
  display: flex;
  align-items: center;
  //justify-content: center;
  height: 100%;

  //max-width: 70%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    cursor: pointer;

    padding: 0 var(--item-padding-left);
    
    transition: var(--transition);
    height: 100%;

    &:hover {
      background-color: var(--focus-color);
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      gap: calc(var(--gap) / 2);

      img {
        max-height: calc(var(--header-height) / 1.8);
      }
    }
  }
}
