.container {
  height: var(--header-height);
  box-shadow: var(--box-shadow);
  width: 100%;

  z-index: 7000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;

  gap: var(--gap);
  height: 100%;
  overflow-x: scroll;
}

.info::-webkit-scrollbar {
  display: none;
}

.best {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .best {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .container .info .burger {
    display: none;
  }
}

.item {
  padding: 0 var(--item-padding-left);
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);

  height: 100%;
  transition: var(--transition);
}

.item:hover {
  background-color: var(--focus-color);
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.active {
  position: sticky;
}
