@import "../../tableItem.module.scss";

.item {
  .green {
    color: var(--green);
  }

  .red {
    color: var(--red);
  }

  .symbol {
    color: var(--second-font-color);
  }

  .img {
    height: calc(var(--table-item-height) / 1.5);
  }
}
