.item {
  display: grid;
  grid-template-columns:
    minmax(40px, 60px) minmax(40px, 60px) minmax(105px, 1fr) repeat(
      2,
      minmax(105px, 1fr)
    )
    minmax(80px, 100px);
  grid-template-rows: 1fr;
  grid-column-gap: var(--gap);

  overflow-y: scroll;
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
  
  td,
  th {
    cursor: pointer;
    gap: calc(var(--gap) / 2);
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    height: var(--table-item-height);

    overflow: scroll;
  }

  transition: var(--transition);
  &:hover {
    background-color: var(--focus-color);
  }

  td:nth-child(1),
  td:nth-child(2),
  th:nth-child(1),
  th:nth-child(2) {
    justify-content: center;
  }

  td:nth-child(3),
  th:nth-child(3) {
    justify-content: start;
  }
}
