.container {
  height: var(--header-height);
  box-shadow: var(--box-shadow);
  width: 100%;

  z-index: 7000 !important;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-weight: bold;
    letter-spacing: 2px;
  }

  .item {
    padding: 0 var(--item-padding-left);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);

    height: 100%;
    transition: var(--transition);

    &:hover {
      background-color: var(--focus-color);
    }
  }

  .info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    gap: var(--gap);
    height: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .best {
      height: 100%;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    
    .burger {
      @media screen and (min-width: 769px) {
        display: none;
      }
  }

  }
}

.active {
  position: sticky;
}
