.content {
  width: 100%;
  padding: var(--header-height) 0 var(--header-height) var(--page-padding-left);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);

  min-height: calc(100vh - var(--header-height));

  .chart {
    height: 80%;
  }

  @media screen and (max-width: 1023px) {
    flex-basis: 0;
    padding: var(--header-height) 0;
  }
}

.loader {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}